.lead__image {
  box-sizing: border-box;
  object-fit: cover;
  height: auto;
  }

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    }
}


@media screen and (max-width: 950px) {
  .lead__image {
    width: 100%;
  }
}


