.header__list {
  margin: 46px 48px 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 18px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header__list {
    margin-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header__list {
    margin: 30px 16px 0 0;
  }
}
